<p id="notice"><%= notice %></p>

<p>
  <strong>Recipient:</strong>
  <%= @friend_request.recipient_id %>
</p>

<p>
  <strong>Sender:</strong>
  <%= @friend_request.sender_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @friend_request.status %>
</p>

<%= link_to 'Edit', edit_friend_request_path(@friend_request) %> |
<%= link_to 'Back', friend_requests_path %>
